<div class="breadcrumb-trail">
  <% if request.path == presented_manual.url %>
    Contents
  <% else %>
    <% if local_assigns.has_key?(:presented_document) %>
      <%
        crumbs = presented_document.breadcrumbs.map do |crumb|
        {
          title: crumb.label,
          url: crumb.link,
        }
        end
        crumbs.unshift({title: "Contents", url: presented_manual.url })
      %>

      <%= render "govuk_publishing_components/components/breadcrumbs", {
          collapse_on_mobile: false,
          breadcrumbs: crumbs
      } %>
    <% end %>
  <% end %>
</div>
